<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main.html">
<div layout:fragment="body_content">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <div class="alert alert-danger mb-3" role="alert" th:if="${error != null}">
                Something went wrong! Please try again!
            </div>
            <form th:action="@{'/to_register'}" accept-charset="UTF-8" method="post">
                <div class="form-group">
                    <label th:text="#{label.email} + ':'"></label>
                    <input type="email" class="form-control" name="user_email">
                </div>
                <div class="form-group">
                    <label th:text="#{label.password} + ':'"></label>
                    <input type="password" class="form-control" name="user_password">
                </div>
                <div class="form-group">
                    <label th:text="#{text.retype_password} + ':'"></label>
                    <input type="password" class="form-control" name="re_user_password">
                </div>
                <div class="form-group">
                    <label th:text="#{text.full_name} + ':'"></label>
                    <input type="text" class="form-control" name="user_full_name">
                </div>
                <button type="submit" class="btn btn-primary text-uppercase" th:text="#{button.sign_up}"></button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
</html>